.cuerpo-pagina{
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.cabecera{
    padding: 1rem;
    align-content: center;
    justify-content: center;
}

header img {
    width: 300px;
    height: 110px;
}

.fildset{
    background-color: #F4F1ED ;
    color: darkgoldenrod;
    border: solid 9px;
    border-radius: 7px;
    width: 400px;
}

label{
    color: firebrick;
}

.archivo{
    color: firebrick;
}

.ElementosFormulario{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: left;
    margin-bottom: 5px;
}

legend{
    color: darkblue;
    font-style: bold;
}

div{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    margin-bottom: 5px;
}

.futer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5px;
}

.futer h3{
    color: #F7C600;
}

span{
    font-weight: bold;
}