/* Reset y base */
/* box sizing: para que tenga en cuenta el padding y el margin en el tamaño total */
* {
    box-sizing: border-box;
}

/*Establecemos altura completa de página */

html , body {
    height: 100%;
}

/* El body se convierte en contenedor flex
    -flex -direction:column -> apila verticalmente el header, main y footer
    -min-height: 100vh -> ocupa toda la altura de la ventana (vh = viewport height
*/


body {
    margin: 0; ;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    background: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Altura total del viewport */
}


/* titulo de la cabecera sin margenes extra y color destacado*/

/*.titulo {
    margin: 0;
    color: #2c3e50;
}*/

/* Menu de navegacion en horizontal  con flex*/

.menu {
    list-style-type: none ;
    display: flex;  /* Para colocar los enlaces/items en linea*/
    flex-direction: row;    /* Por defecto es row, por tanto podemos prescindir de esta linea */
    gap: 1.5rem;    /* Este es el espacio entre enlaces */
}

.menu a {
    color: #fff;
    text-decoration: none;  /* Elimina el subrayado */
    font-weight: bold;  /* Aplica negrita a los enlaces */
    padding: 1rem;
}

.menu a:hover {
    color: #E74c3c;
    background: white;
}

/* Zona principal: Aplicamos relleno */

#contenido-principal {
    padding: 1rem;
    flex-grow: 1;   /* Importante para empujar */
    display: flex;  /* Convierto al main como contenedor flexible */
    flex-direction: column; 
    gap: 0.5rem;
}

/*  */

/* Centramos y rellenamos la cabecera */
/* CABEZERA con FLEX: dos zonas -> logo/titulo (marca) y menú (nav) */ 
.cabecera {
    text-align: center;
    padding: 1em;
    display: flex;
    color: #fff ;
    background: #2c3e50 ;
    justify-content: space-between;
    align-items: center;    /* Centra verticalmente */
}

/* Tamaño de la imagen (Logo) */

.logo {
    height: 100px;
    width: auto;
    /*display: block;*/
}

/* Clase "tarjeta": Usado para agrupar secciones visualmente */

.tarjeta {
    background: #fff;
    width: min(900px, 95%);
    margin: 1rem auto;  /* Centramos el contenido */ 
    border-radius: 12px;
    padding: 1.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    border: 1px solid peachpuff;
    transition: transform 0.3s;
}

.tarjeta:hover {
    transform: scale(1.05);
}

/* Listas en dos columnas: usamos flexbox para alinear dos elementos en horizontal */


/* Border y relleno de la tabla */

.tabla th, .tabla td {
    border: 1px solid #ddd;
    padding: 10px;
}

/* Cabezera de la tabla con estilo diferenciado */

.tabla th{
    background: #2c3e50;
    color: #fff;
    text-align: center;
}

/* Contenido de tabla alineado a la izquiera */

.tabla td {
    text-align: left;
    white-space: nowrap; /* Evita saltos de linea en celdas */
}

/* Estilo pie de página */

.pie {
    text-align: center;
    color: #7f8c8d;
    font-size: 14px;
    background: #ecf0f1;
    padding: 1rem;
}

/* FORMULARIOS */
input:valid {
    border: 1px solid green;
}

input:invalid{
    border: 1px solid red
}

.listas {
    display: flex;  /* Contenedor flexible */
    flex-direction: row;    /* Los items se coloquen en filas */
    gap: 2rem;  /* Hueco entre columnas */
    flex-wrap: wrap;    /* Permite saltar a la siguiente linea en pantallas pequeñas */
    /* flex-flow: row wrap; */
}

/* Ajustes visuales de las listas */

.lista {
    padding-left: 20px;     /* Espacio para las viñetas */

}

.lista li {
    margin: 0.25rem 0;  /* Margenes de los li dentro de la clase lista */
}

/* Tabla: 
    -width:ocupe todo el ancho
    -border-collapse:unir los bordes internos
    -*/

.tabla {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

/* ===== FORMULARIO DE REGISTRO ====== */

.form-registro {
    background-color: #fff;
    border: 4px solid darkgoldenrod;
    border-radius: 7px;
    width: 380px;
    padding: 1rem;
    display: flex;      /* los fieldset se colocan de manera flexible */
    flex-direction: column; /* los fieldset se colocan uno debajo de otro */
    gap: 10px;
    color: firebrick;   /* se aplica al contenido que haya dentro del fieldset */
    margin: 0 auto;
}

.form-fila {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 1rem;
}

.form-fila label {
    font-weight: bold;
}

/* Selector button por atributo */

button[type="submit"] {
    background-color: firebrick;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    cursor: pointer;        /* Aparece una mano apuntadora al hacer hover */
}

/* Selector button por atributo + pseudoclase hover */

button[type="submit"]:hover{
    background-color: darkred;
}

/* ====================================

Seccion Tienda

=====================================*/

/* Aplicar estos estilos solo a los elementos que tengan las clases tienda y tarjeta a la vez */
.tienda.tarjeta {
    width: min(1600px, 95%);
}

/* Contenedor de las cards */

.lista-cards--flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;        /* Centrar horizontalmente */
}

/* Card invisible */

.card {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    text-align: center;
    padding: 12px;
}

.card-imagen{
    width: 100%;
    height: 180px;
    object-fit: contain;        /* Ajustamos la imagen sin recortarla */
    background-color: #f4f4f4;
    border-radius: 8px;
    margin-bottom: 8px;
}

/* Explicaion object-fict: contain asegura que la imagen se vea completa aunque tenga proporciones diferentes, evitando recortes o deformaciones */

/* Titulo */

.card-titulo{
    font-size: 1.1rem;
    color: #333;
    margin: 8px 0 4px;
}

.card-descripcion{
    font-size: 0.9rem;
    color: #666;
    min-height: 3.5rem;
}

.card-precio{
    color: #b60000;
    font-weight: bold;
    margin: 8px 0;
}

/* Boton de la card */
.card-boton{
    padding: 10px 16px;
    background-color: #2c3e50;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
    padding: 10px 16px;
}

.grid-container{
    display: grid;
    grid-template-columns: 200px 200px 200px; /* Tres columnas de tamaño fijo */
    grid-template-rows: 100px 100px;    /* 2 Filas de tamaño fijo */
    row-gap: 5px;
    column-gap: 30px;
    gap: 15px;      /* Separacion uniforme entre celdas */
    justify-content: center;    /* Centra toda la cuadricula dentro del section */
    background-color: grey;
    padding: 10px;
}

.grid-container :nth-child(1) {background-color: #E74c3c;}
.grid-container :nth-child(2) {background-color: indigo;}
.grid-container :nth-child(3) {background-color: gold;}
.grid-container :nth-child(4) {background-color: aquamarine;}
.grid-container :nth-child(5) {background-color: green;}
.grid-container :nth-child(6) {background-color: darkred;}


.contenedor-areas {
    display: grid;
    min-height: 400px;

    /* Fijamos número de columnas y filas */
    grid-template-columns: 200px 3fr 1fr;
    grid-template-rows: 2fr 5fr 1fr;
    gap: 15px;
    grid-template-areas: 
    "cabecera   cabecera    cabecera" 
    "menu       principal   lateral"
    "pie        pie         pie";
}

.area-header{
    grid-area: cabecera;
    background-color: blue;
}

.area-menu{
    grid-area: menu;
    background-color: green;
}

.area-main{
    grid-area: principal;
    background-color: goldenrod;
}

.area-aside{
    grid-area: lateral;
    background-color: aquamarine;
}

.area-footer{
    grid-area: pie;
    background-color: #b60000;
}


/*===================================================

                SECCION JUEGOS

===================================================*/

.juegos.tarjeta{
    width: min(1600px,95%);
}

.lista-cards--grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    /* minmax(280px,1fr):
        - nunca menos de 280px
        - si hay espacio disponible, lo llena hasta ocupar el espacio sobrante
        auto-fill:
        - intenta "llenar" la fila con el MÁXIMO número de columnas posible.
        - si no puede, quedarán huecos aunque esten vacios.
        auto-fit:
        - colapsar los huevos vacíos, provocando que las cards se estiren y se AJUSTEN.
    */
    gap: 16px;
}

.card-destacada {
    background-color: #73a4d5;
    grid-column: 2 / 2 ;
}

.celdas-irregulares {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3,100px);
    border: 1px solid black;
    gap: 10px;
}

.item-1 { 
    background-color: blue;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    /* Atajo grid-column; 1 / 3: */
}
.item-2 {
    background-color: yellow;
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

.item-3 { 
    background-color: red;
    grid-column: 1/5;
    grid-row: 3 ;
}

/* DISEÑO RESPONSIVE */
/* Media queries para móviles */

@media (width <= 380px) {
    .juegos.tarjeta {
        width: 95%;
    }
    .listas-cards--grid {
        grid-template-columns: minmax(220px, 1fr);
    }
}