.tarjeta {
    border: 2px solid #CCC;
    border-radius: 10px;
    padding: 20px;
    max-width: 300px;
    text-align: center;
    justify-items: center;
    align-items: center;
    background-color: #F9F9F9;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.tarjeta img{
    max-width: 75%;
    border-radius: 10px;
 }

.tarjeta h2{
    color: #333;
 }

.tarjeta:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.cuerpo-pagina{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

header{
    background-color: #4caf50;
    color: white;
    text-align: center;
}

.cabecera-imagen{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header img{
    height: 100px;
    width: 100px;
    margin-right: 15px;
}

.pie-pagina{
    background-color: #4caf50;
    color: white;
    text-align: center;
    font-size: 0.9rem;
    margin-top: auto;
}

.contenedor-principal{
    padding: 0 2rem 2rem 2rem;
}

.contenedor-principal h1{
    text-align: center;
}

/* Clases para los productos */

.tarjetas-productos{
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    max-width: 300px;
    text-align: center;
    align-items: center;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.imagenes-productos{
    max-width: 75%;
    border-radius: 10px;
}

.nombre-producto{
    color: #333;
}

.descripcion-producto{
    color: #777;
}

.precio-producto{
    font-size: 1.25rem;
    color: #e74c3c;
}

.contenedor-tarjeta-producto{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 10px;
}

